body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(248, 231, 208);
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(221, 169, 123);
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}
.cabeçalho img{
    width: 100px;
    margin-bottom: 15px;
}
h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0 ;
}
